{{>header}}

<p>Bienvenido al a Pagina de promedio Estudiante</p>

<form action="calculos" method="GET">
    <input type="text" name="nombre">
    <br>
    <input type="number" name="nota1">
    <br>
    <input type="number" name="nota2">
    <br>
    <input type="number" name="nota3">
    <br>
    <button>Calcular</button>
</form>
<br>
<br>
{{{listar}}}
{{>footer}}